body {
    font-family: 'Arima', cursive;
    margin: 0;
}

h1 {
    font-size: 45px;
    font-weight: 700;
}

section {
    margin-bottom: 100px;
}

.header {
    background-image: url(images/cover-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin-bottom: 100px;
}

.header-text {
    text-align: center;
    color: #ffffff;
}

.text {
    padding-top: 13%;
}

.header-text p {
    font-size: 18px;
}

.main-button {
    text-decoration: none;
    background-color: #ff6347;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 30px;
}

.donate-button {
    padding-top: 2%;
}

.donate-section-header {
    text-align: center;
}

.donate-text {
    margin-bottom: 6%;
}

.amount-option h2 {
    display: inline;
    font-size: 28px;
    color: #464646;

}

.other {
    background-color: #FAFAFA;
    padding: 25px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.selected-payment {
    color: #ff6347;
    background-color: #FFEEEE;
    padding: 25px;
    border: 2px solid #ff6347;
    border-radius: 5px;
}